body{
    background-image: url(./Images/FbUez3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center centre;
}   
.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    display: flex;
    list-style: none;
}
.navbar{
    border: 3px black solid;
    border-radius: 7px;
    display: flex;
    position: fixed;
}
nav{
    display: flex;
}
nav ul li{
    padding-left: 40px;
    margin: 10px;
    width: 100px;

}
a.active,a:hover{
    background-color: rgb(81,78,161);
}
nav ul li a{
    padding: 10px 13px;
    border-radius: 4px;
}
.logo{
    font-size: 30px;
    padding-left: 30px;
    font-weight: 1100px;
}
button{
    border-radius: 30px;
    background-color: rgb(63,76,119);
    border: 1px rgb(63,76,119) solid;
    padding-left: 6px;
}
button a:hover{
    background-color: rgb(81,78,161);
}
section{
    padding-top: 130px;
    display: flex;
    justify-content: center;
}
section .landing{
    color: rgb(206,229,246);
    position: relative;
    text-align: center;
    backdrop-filter: blur(4px);
}
.heading{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
}
section .landing p{
    max-width: 100%;
    width: fit-content;
}